
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>asignaturasdocente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1 *ngIf="!asignaturas || asignaturas.length === 0" color="danger">No hay asignaturas disponibles</h1>

  <ion-list>
    <ion-item *ngFor="let asignatura of asignaturas"[routerLink]="['/qrdocente', asignatura.id]">
      <ion-label>
        <h2>{{ asignatura.nombre }}</h2>
        <p>Sección: {{ asignatura.seccion }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title style="color: darkorange;">Menu</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="iniciodocente"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
